.Product_Categories_Container {
  justify-content: center;
  background-color: #fff;
  font-size: 12px;
  line-height: 12px;
  padding-left: 100px;
  padding-right: 100px;
  width: 100%;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  box-sizing: border-box;
  font-weight: 500;
  height: 40px;
  border-top: .01px solid #cdcdd4;

  font-family: Inter, Graphik, sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;

  .Product_Categories {
    padding-top: 14px;
    display: flex;
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    max-width: 1440px;

    .Product_Categories_Link {
      font-weight: 400;
      cursor: pointer;
      font-size: 12px;
      line-height: 12px;
      white-space: nowrap;
      margin-right: 30px;
      display: block;
      --tw-text-opacity: 1;
      color: rgba(85, 85, 85, var(--tw-text-opacity));

      &:after {
        content: "";
        display: block;
        transform: scale(0);
        margin-bottom: -2px;
        padding-bottom: 12px;
        border-bottom: 2px solid #171722;
        transition: 0.2s ease-in-out;
      }

      &:hover:after {
        content: "";
        color: #171722;
        display: block;
        transform: scale(1);
        transition: 0.2s ease-in;
      }

    }
  }
}