.search {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: white;
  align-items: center;
  flex: 1 1 0%;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 12px;
}

#search {
  background-color: white;
  width: 45em;
  padding: 13px 20px;
  height: 40px;

  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;

  appearance: none;
  background: #fff;
  box-shadow: none;
  background-color: #F5F5F5;

  --tw-text-opacity: 1;
  color: rgba(85, 85, 85, var(--tw-text-opacity));
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: start;

  --tw-border-opacity: .1;
  border-color: rgba(245, 245, 245, var(--tw-border-opacity));
  border-width: .1px;
  border-radius: 30px;

  display: inline-block;
  position: relative;

  &:hover {
    background-color: #fff;
    transform: scale(1);
    opacity: 1;
    transition: 0.2s ease-in;
  }

  &:focus {
    --tw-border-opacity: 1;
    border-color: rgba(23, 23, 34, var(--tw-border-opacity));
    border-width: 1px;
    outline: none;
  }

}