// Place all the styles related to the Api::Session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

%message-shared {
  padding: 10px;
  color: #333;
}

.message {
  @extend %message-shared;
}

.success {
  @extend %message-shared;
  color: green;
}

.error {
  @extend %message-shared;
  color: red;
}

.warning {
  @extend %message-shared;
  color: yellow;
}

%Session_Form_Input {
  border-color: rgba(238, 238, 238, var(--tw-border-opacity));
  border: 1px solid border-color;
  border-radius: 0.375rem;
  position: relative;
  box-sizing: border-box;
  text-align: left !important;
}

.Login_Header {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 25px;
  border-bottom-width: 1px;
  box-sizing: border-box;
  text-align: left !important;
}

.Login_Header_Greeting {
  font-family: Inter, Graphik, sans-serif;
  -webkit-text-size-adjust: 100%;
  color: #171722;
  font-weight: 500;
  font-size: 22px;
  line-height: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left !important;
}

.Session_Form_Label {
  text-align: left !important;
  font-family: Inter, Graphik, sans-serif;
  -webkit-text-size-adjust: 100%;
  color: #171722;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 5px;
}