.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  z-index: 10;
  background-color: rgb(218, 212, 247);
  width: 540px;
  max-height: 60%;
  display: flex;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 8px;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;

  --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

  text-align: left;
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  overflow: hidden;
  display: inline-block;
  position: absolute;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  color: #171722;
  -webkit-font-smoothing: antialiased;
  font-family: Inter, Graphik, sans-serif;
}