.Review_Card_Container {
  border-bottom: 1px dotted #171722;
  padding-top: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: space-between;
  display: flex;
}

.Review_Card_Map {
  border-top: 1px dotted #171722;
}

.Product_Show_Grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 0px;
  padding-left: 19%;
  padding-right: 19%;
  padding-top: 40px;
}

.product_display {
  top: 35px;
  position: sticky;
}

// .Product_Show_Main {
//   // background-color: aqua;

// }

.Outter_Photos_Container {
  display: block;

  .Inner_Photos_Container {
    display: block;
    display: flex;
    justify-content: center;
    position: relative;

  }
}

.Thumbnail_Display {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.Thumbnail {
  width: 80px;
  height: 80px;
  border-radius: 7px;
  margin: 15px 0;

  img {
    cursor: pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
    // box-shadow: 0 0 5px rgb(0, 0, 0);
  }
}



.Product_Photo {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  display: block;
  object-fit: contain;
  width: 100%;
  object-fit: cover;
  border-radius: 7px;
}

.Star {
  display: block;
  display: flex;
  position: relative;
  margin-bottom: 10px;

  &:not(:first-child) {
    border-bottom: 1px dotted rgba(85, 85, 85, 1);
  }

  svg {
    padding-right: 5px;
    width: 12px;
    height: 12px;
  }

  p {
    font-size: 12px;
    line-height: 12px;
    padding-right: 5px;
  }
}

.product_display h4 {
  margin-top: 0;
}

.product_display_title h4 {
  margin-top: 8px !important;
  margin-bottom: 15px !important;
}

.Manufacturer_Show {
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 0.5rem;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 5px;
  padding-right: 10px;
}

.Product_Photos_Separator {
  width: 100%;
}


.Create_Review_Link {
  cursor: pointer;
  // z-index: 20;
  // color: white;
  // background-color: palevioletred;
}

.Toggle_Left_Button .Toggle_Right_Button {
  z-index: 5;

  img {
    height: 12px;
    width: 12px;

  }
}



// REVIEWS

.Reviews_Index_Title {
  display: flex;
  position: relative;
}

.Review_Title {
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
  padding-bottom: 7px;
  padding-right: 10px;

}



.Review_Img {
  height: 12px;
  margin-left: 12px;
}

.Detail_Labels {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  flex-direction: column;
  float: left;
  display: block;
  padding-bottom: 0%;
  margin-bottom: 0%;
  // border-bottom: 0.5px dotted rgba(85, 85, 85, 1);
  // flex-flow: nowrap;
}

.Float_Right {
  padding-left: 52%
}

.Detail_Labels .Tab {
  font-size: 14px;
  line-height: 18px;
  display: block;
  --tw-text-opacity: 1;
  color: rgba(85, 85, 85, var(--tw-text-opacity));
  letter-spacing: normal;
  word-spacing: normal;
  text-align: left;
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 2rem;
  margin-top: 0px;
  margin-bottom: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

//   &:after {
//   content: "";
//   display: block;
//   transform: scale(0);
//   margin-bottom: -2px;
//   padding-bottom: 12px;
//   border-bottom: 2px solid #171722;
//   transition: 0.2s ease-in-out;
// }

// &:hover:after {
//   content: "";
//   color: #171722;
//   display: block;
//   transform: scale(1);
//   transition: 0.2s ease-in;
// }
}

.Category_Path {
  --tw-text-opacity: 1;
  color: rgba(140, 140, 140, var(--tw-text-opacity));
  box-sizing: border-box;
  font-size: 12px;
  line-height: 12px;
  text-transform: capitalize;
  font-family: Inter, Graphik, sans-serif;
}

.product_display_description {
  margin-bottom: 12px;

  p {
    padding-top: 10px;
  }
}

.Review_content {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  color: #171722;
  font-family: Inter, Graphik, sans-serif;
}

.Review_Stars_Holder {
  margin-right: 20px;
  display: block;
  padding-top: 5px;
}

.Review_Stars {
  --tw-text-opacity: 1;
  color: rgba(23, 23, 34, var(--tw-text-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 25px;
  display: flex;
  box-sizing: border-box;

  svg {
    // display: block;
    // overflow: hidden;
    padding-bottom: 3px;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.Star_Rating {
  margin-left: 3px;
  box-sizing: border-box;
  display: block;
  --tw-text-opacity: 1;
  color: rgba(23, 23, 34, var(--tw-text-opacity));
}

.Review_Body {
  display: block;
}

.Review_Body_Title {
  --tw-text-opacity: 1;
  color: rgba(23, 23, 34, var(--tw-text-opacity));
  display: block;
  -webkit-text-size-adjust: 100%;
  line-height: 160%;
  font-weight: 500;
  font-size: 14px;
  align-items: center;
  display: flex;
  box-sizing: border-box;
}

.Review_Body_Author_Details_Container {
  --tw-text-opacity: 1;
  color: rgba(23, 23, 34, var(--tw-text-opacity));
  font-size: 12px;
  line-height: 12px;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  box-sizing: border-box;
  font-family: Inter, Graphik, sans-serif;
}

.Review_Body_Author_Details {
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  margin-top: 10px;
  box-sizing: border-box;


}

.Review_Body_Author_Details div {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.25rem * var(--tw-space-y-reverse));
  white-space: nowrap;
  display: flex;
  font-size: 12px;
  display: block;
  --tw-text-opacity: 1;
  color: rgba(23, 23, 34, var(--tw-text-opacity));
}

.Spacer {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.25rem * var(--tw-space-y-reverse));
  --tw-text-opacity: 1;
  color: rgba(197, 197, 197, var(--tw-text-opacity));
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  box-sizing: border-box;
  display: block;
}

.Italic_Credits svg {
  height: 12px;
  width: 12px;
  margin-right: 6px;
  margin-top: 4px;
  display: block;
  box-sizing: border-box;
  color: red;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;

  path {
    fill: #c03717 !important;
  }
}

.Review_Comment {
  margin-top: 10px;

}

.Review_Comment_Body {
  width: 100%;

  p {
    --tw-text-opacity: 1;
    color: rgba(85, 85, 85, var(--tw-text-opacity));
    line-height: 22px;
    font-size: 14px;
  }
}

.Helpful {
  box-sizing: border-box;
}

.Helpful_One {
  flex-direction: column;
  margin-left: 0;
  display: flex;
  box-sizing: border-box;
}

.Helpful_Two {
  box-sizing: border-box;
}

.Review_Button {
  font-size: 12px;
  line-height: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-bottom: 8px;
  margin-bottom: 4px;

  padding-left: 20px;
  padding-right: 20px;
  --tw-bg-opacity: 1;
  background-color: rgba(247, 247, 247, var(--tw-bg-opacity));
  border-radius: 9999px;
  justify-content: center;
  cursor: pointer;
  width: 100px;
  display: flex;
  box-sizing: border-box;
  white-space: nowrap;

  &:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(214, 212, 212);
  }
}

.Review_Button_Text {
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  cursor: pointer;
  -webkit-text-size-adjust: 100%;
  color: #171722;
}

.Helpful_Score {
  --tw-text-opacity: 1;
  color: rgba(144, 144, 144, var(--tw-text-opacity));
  margin-left: 5px;
  font-size: 12px;
  line-height: 12px;
  cursor: pointer;
}

.Flag {
  margin-left: 0;
  margin-top: 10px;
  --tw-text-opacity: 1;
  color: rgba(197, 197, 197, var(--tw-text-opacity));
  font-weight: 500;
  font-size: 10px;
  line-height: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: flex;

  svg {
    margin-right: 5px;
    overflow: visible;
    display: block;
    --tw-text-opacity: 1;
    color: rgba(197, 197, 197, var(--tw-text-opacity));
    font-weight: 500;
    font-size: 10px;
    line-height: 10px;
    cursor: pointer;



    path {
      fill-rule: evenodd;
      clip-rule: evenodd;
      stroke-linejoin: round;
      stroke-miterlimit: 2;
      fill: rgb(197, 197, 197);
      width: 7px;
      height: 9px;
    }
  }
}

#Review_Submit{
  width: 30%;
  text-align: center;
  cursor: pointer;
}

#submit_edit{
  margin-left: auto;
  margin-right: auto;
}

.Review_Form {
  padding-left: 30px;
  padding-right: 30px;
  min-height: 540px;
  justify-content: space-between;
  flex-direction: column;
  text-align: left;
  font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
  font-size: 14px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;

}

.Review_Form_Header {
  padding-bottom: 12px;
  padding-top: 30px;
  z-index: 20;
  position: relative;
  box-sizing: inherit;
  margin: 0;
  display: block;
  text-align: left;
  font-size: 14px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  color: #222;
  --vh: 9.61px;
}

.Review_Form_Header_Content{
  justify-content: space-between;
  display:flex;
  margin: 0;
  text-align: left;
  color: #222;
  --vh: 9.61px;

  h1 {
    font-size: 32px;
    line-height: 36px;
    font-family: "Guardian-EgypTT",Charter,"Charter Bitstream",Cambria,"Noto Serif Light","Droid Serif",Georgia,serif;
    font-weight: 300;
    letter-spacing: 0.5px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: block;
    padding-left: 45px;
    padding-bottom: -10px;

  }
}

.Review_Form_Body{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 22px;
  grid-row-gap: 0px;
  padding-left: 45px;
  padding-right: 45px;

}

.Review_Form_Image img {
  width: 213px;
  height: 213px;
  border-radius: 6px !important;
  overflow: hidden !important;
  margin-right: 18px !important;
}

.Review_Form_Body_Right{
  max-width: 244px;
  flex-direction: column !important;
  display: flex !important;
  font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
  font-size: 14px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  --vh: 9.61px;

}

.Review_Form_Body_Right_Context{
  display: block;
  h3 {
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin-bottom: 6px !important;
    text-align: left;
    --vh: 9.61px;

  }

  p {
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #595959;
    position: relative;
    text-align: left;
    --vh: 9.61px;
  }
}

.quantity p {
  font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-top: 12px
}

.Review_Form_Body_Discription {
  border-radius: 6px !important;
  overflow: hidden !important;
  border: 1px solid rgba(34, 34, 34, 0.15);
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 8px;
  border: 0;
  font: inherit;
  text-align: center;
  padding-bottom: 30px;

  p {
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    padding-left: 60px;
    padding-top: 4px;
  }

  label {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    text-align: center;
  }

  input, textarea {
    font-size: 16px;
    letter-spacing: 0.5px;
    padding: 10px 5px 10px 10px;
    border: .3px solid #5e5b5b;
    box-shadow: inset 0px 0px 2px #5e5b5b;
    transition: ease-in 0.2s;
    font-weight: 200;
    width: 85%;
    // margin-bottom: 15px;
    border-radius: 5px;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
  }

}













// CREDIT To Artem @komarovdesign
// https://codepen.io/komarovdesign
.quantity {
  position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.quantity input {
  width: 45px;
  height: 42px;
  line-height: 1.65;
  float: left;
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  border: 1px solid #eee;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: relative;
  height: 42px;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  border-left: 1px solid #eee;
  width: 20px;
  text-align: center;
  color: #333;
  font-size: 13px;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  line-height: 1.7;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.quantity-button.quantity-up {
  position: absolute;
  height: 50%;
  top: 0;
  border-bottom: 1px solid #eee;
}

.quantity-button.quantity-down {
  position: absolute;
  bottom: -1px;
  height: 50%;
}

input[type="number"] {
  max-width: 30px;
}

.star-rating {
  display: flex;
  margin-right: 4px;
  height: 50px;
  width: 50px;
  color: lightgrey;

  div {
    margin-right: 4px;
  }

  &:hover {
    cursor: pointer;
  }

  .selected {
    color: rgb(135, 134, 134);
  }
  
  .unselected {
    color: lightgrey
  }
  
}
